h1{ 

    text-shadow: 4px 3px 5px hsl(6, 89%, 51%), -3px 3px 5px hsl(286, 81%, 55%);

}

#box1{  

    height: 500px;
    width: 500px;
    background-color: hsl(210, 25%, 89%);
    box-shadow: 3px 3px 5px; 
}