#ddd{ 
    background-color: hsl(32, 80%, 49%);
    height: 100px;
    width: 100px;
    display: inline-block; 
}

span{ 
    background-color :aqua ; 
    height : 100px;  
    width : 100px; 
    display: inline-block; 
}