h1{ 
    color: red;
}

.headless{ 
    background-color: beige;
}

.headwith { 
    color: rgb(43, 167, 57);
}


.mark0{ 
    background-color : cyan
}

.mark1{ 
    background-color: cyan;
}



.headless-down{ 
    background-color: antiquewhite;
}