body{ 
padding: 0px 50px;
}

nav{ 
    
background-color: #cecece;
    /* background-color: rgb(181, 181, 181);
    display: inline-block;
    text-align: center;
    width: 1680px;
    text-decoration: underline; */
}

nav ul{ 
  
    /* border: 1px solid black; */
    padding-left: 0px;
    text-align: center;
}

nav li{ 
    list-style-type: none;
   border-bottom: 2px solid black;
   display: inline-block;
   margin: 15px 20px;
   font-size: 20px;
   text-transform: uppercase;
 
}

section{ 
    margin-top:50px;
}

h2{ 
    border-bottom: 1px solid black; 
}

a{ 
    text-decoration: none;
    color:#444;
}