body{ 
    background-color: #545454;
}

/* #p2 { 
    color: tomato; 
} */

/* #p3 { 
    color : yellow; 

}

.even{ 
color : burlywood; 
} */

#p1 { 
    color : tomato; 
}

#p2{ 

   color:rgb(87, 202, 217); 
}

#p3{ 
    color : #38f567; 
}

#p4{ 
    color : rgb(157, 47, 165); 
}
