body{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

}

.box-wrapper{ 

    border: 10px solid black; 
    display: flex;
    /* height: 400px; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /*flex-direction:row*/




    /* flex-wrap : wrap;  */

    
    /* flex-wrap: wrap-reverse; */  

    justify-content: flex-end;
     
}

.box{
width: 300px;
 border: 1px solid #666; 

 
 /* height: 300px; */
}

.box-1{

    background: lightblue;

}
.box-2{

    background: lightsalmon;

}
.box-3{

    background: rgb(192, 248, 192);

}
.box-4{

    background: lightcyan;

}
.box-5{

    background: lightyellow;

}
